[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
channels = "*"
drf-nested-routers = "*"
channels-redis = "*"
jsonfield2 = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
